<h1>Login</h1>

<%= form_tag '/sessions' do %>

  <% if flash[:notice] %>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
  <% end %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>