<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name , :required => true%>
  Email: <%= f.text_field :email,:required => true% %>
  Password: <%= f.password_field :password,:required => true% %>
  Password Confirmation: <%= f.password_field :password_confirmation,:required => true% %>
  <%= f.submit "Submit" %>

<% end %>
